* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --pink: #F25ABC;
    --red: #DC1D1A;
    --green: #567B1C;
    --yellow: #C5C62E;
    --orange: #F44B19;
    --purple: #BC88EB;
    --brown: #8B3D11;
}

@font-face {
    font-family: "CocogooseCondensedTrial-UltraLi";
    src: url("./font/CocogooseCondensedTrial-UltraLi.woff") format("woff");
}

#check-screen-size {
    height: 100dvh;
    width: 100%;

    position: fixed;
    z-index: 1000;

    justify-content: center;
    align-items: center;

    background-color: var(--white);
}

#check-screen-size p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#noise {
    height: 100dvh;
    width: 100%;

    position: fixed;
    z-index: 998;

    mix-blend-mode: color-burn;
}

#header audio {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 999;
}

#section-1 {
    height: 100dvh;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: var(--pink);
}

#section-1 p {
    font-family: "CocogooseCondensedTrial-UltraLi";
    font-size: 4em;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    color: var(--red);
    text-shadow:
    -1px -1px 0 var(--black), 0 -1px 0 var(--black), 1px -1px 0 var(--black),
    1px 0  0 var(--black),
    1px 1px 0 var(--black),
    0 1px 0 var(--black),
    -1px 1px 0 var(--black),
    -1px 0 0 var(--black);

    /* animation: pulseText 1s infinite; */
}

/* @keyframes pulseText {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} */

#section-2 {
    height: 100dvh;

    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background-color: var(--green);
}

#section-2 div {
    width: 100%;

    position: absolute;
    bottom: 4em;

    display: flex;
    justify-content: center;
    align-items: end;
}

#section-2 div img {
    transform-origin: bottom;
}

#section-2 div:nth-of-type(1) {
    z-index: 4;
    right: -65px;

    grid-column-start: 1;
    grid-column-end: 4;
}

#section-2 div:nth-of-type(2) {
    z-index: 3;
    right: -20px;

    grid-column-start: 4;
    grid-column-end: 7;
}

#section-2 div:nth-of-type(3) {
    z-index: 2;
    left: -20px;

    grid-column-start: 7;
    grid-column-end: 10;
}

#section-2 div:nth-of-type(4) {
    z-index: 1;
    left: -65px;

    grid-column-start: 10;
    grid-column-end: 13;
}

@media (max-width: 450px) { 
    #section-2 div:nth-of-type(1) {
        z-index: 4;
        right: -45px;
    
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #section-2 div:nth-of-type(2) {
        z-index: 3;
        right: -10px;
    
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    #section-2 div:nth-of-type(3) {
        z-index: 2;
        left: -10px;
    
        grid-column-start: 7;
        grid-column-end: 10;
    }
    
    #section-2 div:nth-of-type(4) {
        z-index: 1;
        left: -45px;
    
        grid-column-start: 10;
        grid-column-end: 13;
    } 
}

@media (max-width: 375px) { 
    #section-2 div:nth-of-type(1) {
        z-index: 4;
        right: -25px;
    
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #section-2 div:nth-of-type(2) {
        z-index: 3;
        right: -5px;
    
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    #section-2 div:nth-of-type(3) {
        z-index: 2;
        left: -5px;
    
        grid-column-start: 7;
        grid-column-end: 10;
    }
    
    #section-2 div:nth-of-type(4) {
        z-index: 1;
        left: -25px;
    
        grid-column-start: 10;
        grid-column-end: 13;
    } 
}

#section-3 {
    height: 100dvh;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: var(--orange);
}

#section-3 p {
    font-family: "CocogooseCondensedTrial-UltraLi";
    font-size: 4em;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    color: var(--yellow);
    text-shadow:
    -1px -1px 0 var(--black), 0 -1px 0 var(--black), 1px -1px 0 var(--black),
    1px 0  0 var(--black),
    1px 1px 0 var(--black),
    0 1px 0 var(--black),
    -1px 1px 0 var(--black),
    -1px 0 0 var(--black);
}

#section-4 {
    height: 100dvh;

    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background-color: var(--purple);
}

#section-4 div {
    width: 100%;

    position: absolute;
    bottom: 4em;

    display: flex;
    justify-content: center;
    align-items: end;
}

#section-4 div img {
    transform-origin: bottom;
}

#section-4 div:nth-of-type(1) {
    z-index: 4;
    right: -65px;

    grid-column-start: 1;
    grid-column-end: 4;
}

#section-2 div:nth-of-type(2) {
    z-index: 3;
    right: -20px;

    grid-column-start: 4;
    grid-column-end: 7;
}

#section-4 div:nth-of-type(3) {
    z-index: 2;
    left: -20px;

    grid-column-start: 7;
    grid-column-end: 10;
}

#section-4 div:nth-of-type(4) {
    z-index: 1;
    left: -65px;

    grid-column-start: 10;
    grid-column-end: 13;
}

@media (max-width: 450px) { 
    #section-4 div:nth-of-type(1) {
        z-index: 4;
        right: -45px;
    
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #section-4 div:nth-of-type(2) {
        z-index: 3;
        right: -10px;
    
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    #section-4 div:nth-of-type(3) {
        z-index: 2;
        left: -10px;
    
        grid-column-start: 7;
        grid-column-end: 10;
    }
    
    #section-2 div:nth-of-type(4) {
        z-index: 1;
        left: -45px;
    
        grid-column-start: 10;
        grid-column-end: 13;
    } 
}

@media (max-width: 375px) { 
    #section-4 div:nth-of-type(1) {
        z-index: 4;
        right: -25px;
    
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #section-4 div:nth-of-type(2) {
        z-index: 3;
        right: -5px;
    
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    #section-4 div:nth-of-type(3) {
        z-index: 2;
        left: -5px;
    
        grid-column-start: 7;
        grid-column-end: 10;
    }
    
    #section-4 div:nth-of-type(4) {
        z-index: 1;
        left: -25px;
    
        grid-column-start: 10;
        grid-column-end: 13;
    } 
}






